<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem Lorem ipsum dolor sit amet. dignissimos rerum, at eligendi labore
      hic.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container icon-container--gray">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy To Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error,
        recusandae assumenda. Officiis, aliquid ratione exercitationem nulla
        perferendis quis explicabo cum.
      </p>
      <a class="link-arrow" ref="#">LEARN MORE</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/banner.webp 1x, images/banner@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/banner.png 1x, images/banner@2x.png 2x"
      />
      <img class="feature__image" src="images/banner.png" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container icon-container--gray">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy To Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error,
        recusandae assumenda. Officiis, aliquid ratione exercitationem nulla
        perferendis quis explicabo cum.
      </p>
      <a class="link-arrow" ref="#">LEARN MORE</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/banner.webp 1x, images/banner@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/banner.png 1x, images/banner@2x.png 2x"
      />
      <img class="feature__image" src="images/banner.png" alt="" />
    </picture>
  </article>
</section>
