<section class="block container">
  <header class="block__header">
    <h1 class="block__heading">Hello</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, quo?</p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h1 class="block__heading">Hello</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, quo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores
        nobis ullam deserunt ab possimus unde? Possimus, debitis. Cum ipsum non
        illum corporis ex nihil quo inventore. Optio eveniet earum officia.
      </p>
    </header>
  </div>
</section>
