<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">PRODUCTS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron" class="blue" />
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis,
        doloribus.
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">ITEMS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron" class="blue" />
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis,
        doloribus.
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">LINKS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron" class="blue" />
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis,
        doloribus.
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">COMPANY</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron" class="blue" />
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis,
        doloribus.
      </div>
    </section>
    <div class="block__header footer__brand">
      <img class="footer__logo-image" src="icons/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2022 Peter Bull Hove</p>
    </div>
  </div>
</footer>
