<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, deleniti.
  </p>
  <footer class="quote__footer">
    <div class="media">
      <div class="media__image quote__image">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title">John Smith</h3>
        <p class="quote__organization">Microsoft</p>
      </div>
    </div>
  </footer>
</blockquote>
