video {
  width: 100%;
}
img.profile {
  width: 20%;
  border-radius: 40%;
  float: left;
  margin-right: 1%;
}
p.username {
  font-weight: bold;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.default {
  background-color: #f2cc8f;
}
.blogpost {
  background-color: #f2cc8f;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.blogpost p::first-line {
  font-weight: bold;
}

::selection {
  background-color: #e07a5f;
}

.blogimg {
  width: 80%;
}

table,
thead,
td,
th {
  border: 1px solid #f4f1de;
  border-collapse: collapse;
  padding: 5px;
}
tfoot {
  text-align: left;
}

img.home {
  width: 10%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}

nav ul {
  background-color: #3d405b;
}

footer ul {
  background-color: #3d405b;
}

nav li,
footer li {
  padding: 10px;
}
nav li a,
footer li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 1%;
}

nav li a:hover,
nav li a:focus,
footer li a:focus,
footer li a:hover {
  background-color: #e07a5f;
}
